<html>
<head>
<meta charset="UTF-8">
<title>Google-Translate</title>
<link href="https://fonts.googleapis.com/css?family=Abel|Roboto" rel="stylesheet">
<link href="lib/css/index.css" rel="stylesheet">
<script type="text/javascript" src="lib/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="lib/js/clipboard.min.js"></script>
</head>
<body>
<div class="container">
	<div class="logo">
		<div class="logoImg"></div>
		<div id="switchLang" class="switchImg"></div>
	</div>
	<div class="input">
		<div class="inputText">
			<textarea id="input" rows="1" attr-sl="en" attr-tl="zh-TW" placeholder="Please type English"></textarea>
		</div>
	</div>
	<div class="result">
		<div id="resultContent" class="text-center hidden" data-clipboard-text=""></div>
	</div>
	<div id="footer" class="text-center">
		<span>
			Copyright © 2017 YuWei. All Right Reserved
		</span>
	</div>
</div>
<script type="text/javascript">
new Clipboard('#resultContent');
var xhr = null;
var eng = "en";
var cht = "zh-TW";

// switch langurage
$("#switchLang").on('click', function(){
	var input = $("#input");
	
	var slv = input.attr("attr-sl");
	var tlv = input.attr("attr-tl");
	if(slv == eng){
		input.attr("attr-sl", cht);
		input.attr("attr-tl", eng);
		input.attr("placeholder", "Please type Chinese");
	}else{
		input.attr("attr-sl", eng);
		input.attr("attr-tl", cht);
		input.attr("placeholder", "Please type English");
	}	
})

// empty result 
$("#resultContent").on('click', function(){
	$("#input").val('');
	$(this).addClass('hidden').empty();
})

$("#input").on("keyup", function(){
	var data = $(this).val();
	var slv = $(this).attr("attr-sl");
	var tlv = $(this).attr("attr-tl");
	if(data.length !=0 && data.length > 1){
		goAjax(data, slv, tlv);		
	}else{
		$("#resultContent").addClass('hidden');
	}
})

function goAjax(data, slv, tlv){
	if(xhr!=null){
		xhr.abort();
		xhr = null;
	}
	
	var jsonObject = JSON.stringify({
		target : data,
		sl : slv,
		tl : tlv
	});
	
	xhr = $.ajax({
		type : "POST",
		url : "translate",
		contentType : "application/json",
		data : jsonObject,
		dataType : "json",
		success : function(res){
			$("#resultContent").text(res.body.result);
			$("#resultContent").attr("data-clipboard-text", res.body.result);
		},
		complete : function(){
			$("#resultContent").removeClass('hidden');
		}
	})	
}
</script>
</body>
</html>
